# Entornos virtuales
venv/
.env/

# Archivos grandes y binarios
*.dll
*.so
*.dylib
*.exe
*.bin
*.h5
*.ckpt
*.pth
*.pkl
*.zip
*.tar
*.tar.gz
*.rar
*.7z

# Archivos temporales
__pycache__/
*.pyc
*.pyo
*.log
*.tmp

# Otros
.DS_Store
Thumbs.db
